/* line 2, ../../../sass/neat/grid/_grid.scss */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 55, ../../../sass/libs/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

/* line 63, ../../../sass/libs/_normalize.scss */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* line 74, ../../../sass/libs/_normalize.scss */
audio:not([controls]) { display: none; height: 0; }

/* line 81, ../../../sass/libs/_normalize.scss */
[hidden] { display: none; }

/* line 94, ../../../sass/libs/_normalize.scss */
html { font-size: 100%; background: white; color: black; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* line 110, ../../../sass/libs/_normalize.scss */
html, button, input, select, textarea { font-family: sans-serif; }

/* line 116, ../../../sass/libs/_normalize.scss */
body { margin: 0; }

/* line 132, ../../../sass/libs/_normalize.scss */
a:focus { outline: thin dotted; }
/* line 139, ../../../sass/libs/_normalize.scss */
a:hover, a:active { outline: 0; }

/* line 152, ../../../sass/libs/_normalize.scss */
h1 { font-size: 2em; margin: 0.5em 0; }

/* line 157, ../../../sass/libs/_normalize.scss */
h2 { font-size: 1.5em; margin: 0.25em 0; }

/* line 162, ../../../sass/libs/_normalize.scss */
h3 { font-size: 1.17em; margin: 1em 0; }

/* line 167, ../../../sass/libs/_normalize.scss */
h4 { font-size: 1em; margin: 1.33em 0; }

/* line 172, ../../../sass/libs/_normalize.scss */
h5 { font-size: 0.83em; margin: 1.67em 0; }

/* line 177, ../../../sass/libs/_normalize.scss */
h6 { font-size: 0.75em; margin: 2.33em 0; }

/* line 185, ../../../sass/libs/_normalize.scss */
abbr[title] { border-bottom: 1px dotted; }

/* line 192, ../../../sass/libs/_normalize.scss */
b, strong { font-weight: bold; }

/* line 197, ../../../sass/libs/_normalize.scss */
blockquote { margin: 1em 40px; }

/* line 204, ../../../sass/libs/_normalize.scss */
dfn { font-style: italic; }

/* line 210, ../../../sass/libs/_normalize.scss */
mark { background: #ff0; color: #000; }

/* line 218, ../../../sass/libs/_normalize.scss */
p, pre { margin: 1em 0; }

/* line 229, ../../../sass/libs/_normalize.scss */
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* line 239, ../../../sass/libs/_normalize.scss */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* line 247, ../../../sass/libs/_normalize.scss */
q { quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 256, ../../../sass/libs/_normalize.scss */
q { quotes: none; }

/* line 263, ../../../sass/libs/_normalize.scss */
q:before, q:after { content: ''; content: none; }

/* line 270, ../../../sass/libs/_normalize.scss */
small { font-size: 80%; }

/* line 278, ../../../sass/libs/_normalize.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 285, ../../../sass/libs/_normalize.scss */
sup { top: -0.5em; }

/* line 289, ../../../sass/libs/_normalize.scss */
sub { bottom: -0.25em; }

/* line 302, ../../../sass/libs/_normalize.scss */
dl, menu, ol, ul { margin: 1em 0; }

/* line 308, ../../../sass/libs/_normalize.scss */
dd { margin: 0 0 0 40px; }

/* line 317, ../../../sass/libs/_normalize.scss */
menu, ol, ul { padding: 0 0 0 40px; }

/* line 326, ../../../sass/libs/_normalize.scss */
nav ul, nav ol { list-style-image: none; }

/* line 341, ../../../sass/libs/_normalize.scss */
img { border: 0; -ms-interpolation-mode: bicubic; }

/* line 350, ../../../sass/libs/_normalize.scss */
svg:not(:root) { overflow: hidden; }

/* line 360, ../../../sass/libs/_normalize.scss */
figure { margin: 0; }

/* line 370, ../../../sass/libs/_normalize.scss */
form { margin: 0; }

/* line 377, ../../../sass/libs/_normalize.scss */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* line 388, ../../../sass/libs/_normalize.scss */
legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }

/* line 405, ../../../sass/libs/_normalize.scss */
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/* line 418, ../../../sass/libs/_normalize.scss */
button, input { line-height: normal; }

/* line 428, ../../../sass/libs/_normalize.scss */
button, select { text-transform: none; }

/* line 443, ../../../sass/libs/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }

/* line 454, ../../../sass/libs/_normalize.scss */
button[disabled], input[disabled] { cursor: default; }

/* line 464, ../../../sass/libs/_normalize.scss */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

/* line 476, ../../../sass/libs/_normalize.scss */
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* line 487, ../../../sass/libs/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* line 495, ../../../sass/libs/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 504, ../../../sass/libs/_normalize.scss */
textarea { overflow: auto; vertical-align: top; }

/* line 515, ../../../sass/libs/_normalize.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 15, ../../../sass/partials/_grid.scss */
.wrapper { *zoom: 1; max-width: 71.25em; margin-left: auto; margin-right: auto; }
/* line 18, ../../../sass/bourbon/addons/_clearfix.scss */
.wrapper:before, .wrapper:after { content: " "; display: table; }
/* line 23, ../../../sass/bourbon/addons/_clearfix.scss */
.wrapper:after { clear: both; }

/* line 25, ../../../sass/main.scss */
html { font-size: .8em; }
/* line 28, ../../../sass/main.scss */
html body { padding: 4em; }

/* line 33, ../../../sass/main.scss */
.container { *zoom: 1; max-width: 71.25em; margin-left: auto; margin-right: auto; *zoom: 1; }
/* line 18, ../../../sass/bourbon/addons/_clearfix.scss */
.container:before, .container:after { content: " "; display: table; }
/* line 23, ../../../sass/bourbon/addons/_clearfix.scss */
.container:after { clear: both; }
/* line 18, ../../../sass/bourbon/addons/_clearfix.scss */
.container:before, .container:after { content: " "; display: table; }
/* line 23, ../../../sass/bourbon/addons/_clearfix.scss */
.container:after { clear: both; }

/* line 38, ../../../sass/main.scss */
a.cancel { border: 1px solid #8b8b8b; border-bottom: 1px solid #727272; border-radius: 5px; box-shadow: inset 0 1px 0 0 #fdfdfd; color: #333333; display: inline-block; font-size: 14px; font-weight: bold; background-color: #eeeeee; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(50%, #c2c2c2), color-stop(50%, #ababab), color-stop(100%, #b0b0b0)); background-image: -webkit-linear-gradient(top, #eeeeee 0%, #c2c2c2 50%, #ababab 50%, #b0b0b0 100%); background-image: linear-gradient(to bottom,#eeeeee 0%, #c2c2c2 50%, #ababab 50%, #b0b0b0 100%); padding: 8px 20px; text-align: center; text-decoration: none; text-shadow: 0 -1px 1px #f8f8f8; }
/* line 151, ../../../sass/bourbon/addons/_button.scss */
a.cancel:hover:not(:disabled) { cursor: pointer; background-color: #dfdfdf; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfdfdf), color-stop(50%, #b3b3b3), color-stop(50%, #9f9f9f), color-stop(100%, #a3a3a3)); background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #b3b3b3 50%, #9f9f9f 50%, #a3a3a3 100%); background-image: linear-gradient(to bottom,#dfdfdf 0%, #b3b3b3 50%, #9f9f9f 50%, #a3a3a3 100%); }
/* line 171, ../../../sass/bourbon/addons/_button.scss */
a.cancel:active:not(:disabled) { box-shadow: inset 0 0 20px 0 #797979, 0 1px 0 white; }
/* line 38, ../../../sass/bourbon/addons/_button.scss */
a.cancel:disabled { opacity: 0.5; cursor: not-allowed; }

/* line 42, ../../../sass/main.scss */
a.save { border: 1px solid #007f00; border-bottom: 1px solid #006f00; border-radius: 5px; box-shadow: inset 0 1px 0 0 #25ff0c; color: white; display: inline-block; font-size: 14px; font-weight: bold; background-color: #00ee00; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00ee00), color-stop(50%, #00bc00), color-stop(50%, #00a300), color-stop(100%, #00a800)); background-image: -webkit-linear-gradient(top, #00ee00 0%, #00bc00 50%, #00a300 50%, #00a800 100%); background-image: linear-gradient(to bottom,#00ee00 0%, #00bc00 50%, #00a300 50%, #00a800 100%); padding: 8px 20px; text-align: center; text-decoration: none; text-shadow: 0 -1px 1px #006100; }
/* line 151, ../../../sass/bourbon/addons/_button.scss */
a.save:hover:not(:disabled) { cursor: pointer; background-color: #00df00; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00df00), color-stop(50%, #00b000), color-stop(50%, #009900), color-stop(100%, #009e00)); background-image: -webkit-linear-gradient(top, #00df00 0%, #00b000 50%, #009900 50%, #009e00 100%); background-image: linear-gradient(to bottom,#00df00 0%, #00b000 50%, #009900 50%, #009e00 100%); }
/* line 171, ../../../sass/bourbon/addons/_button.scss */
a.save:active:not(:disabled) { box-shadow: inset 0 0 20px 0 #007a00, 0 1px 0 white; }
/* line 38, ../../../sass/bourbon/addons/_button.scss */
a.save:disabled { opacity: 0.5; cursor: not-allowed; }

/* line 46, ../../../sass/main.scss */
a.edit { border: 1px solid #8a3600; border-bottom: 1px solid #812600; border-radius: 5px; box-shadow: inset 0 1px 0 0 #ffc20c; color: white; display: inline-block; font-size: 14px; font-weight: bold; background-color: orange; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, orange), color-stop(50%, #c77300), color-stop(50%, #a95a00), color-stop(100%, #b05f00)); background-image: -webkit-linear-gradient(top, orange 0%, #c77300 50%, #a95a00 50%, #b05f00 100%); background-image: linear-gradient(to bottom,orange 0%, #c77300 50%, #a95a00 50%, #b05f00 100%); padding: 8px 20px; text-align: center; text-decoration: none; text-shadow: 0 -1px 1px #731800; }
/* line 151, ../../../sass/bourbon/addons/_button.scss */
a.edit:hover:not(:disabled) { cursor: pointer; background-color: #f29600; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f29600), color-stop(50%, #bd6700), color-stop(50%, #a25000), color-stop(100%, #a95500)); background-image: -webkit-linear-gradient(top, #f29600 0%, #bd6700 50%, #a25000 50%, #a95500 100%); background-image: linear-gradient(to bottom,#f29600 0%, #bd6700 50%, #a25000 50%, #a95500 100%); }
/* line 171, ../../../sass/bourbon/addons/_button.scss */
a.edit:active:not(:disabled) { box-shadow: inset 0 0 20px 0 #903100, 0 1px 0 white; }
/* line 38, ../../../sass/bourbon/addons/_button.scss */
a.edit:disabled { opacity: 0.5; cursor: not-allowed; }

/* line 50, ../../../sass/main.scss */
a.close { border: 1px solid #790000; border-bottom: 1px solid #700000; border-radius: 5px; box-shadow: inset 0 1px 0 0 #ff1d0c; color: white; display: inline-block; font-size: 14px; font-weight: bold; background-color: #ee0000; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee0000), color-stop(50%, #b60000), color-stop(50%, #980000), color-stop(100%, #9f0000)); background-image: -webkit-linear-gradient(top, #ee0000 0%, #b60000 50%, #980000 50%, #9f0000 100%); background-image: linear-gradient(to bottom,#ee0000 0%, #b60000 50%, #980000 50%, #9f0000 100%); padding: 8px 20px; text-align: center; text-decoration: none; text-shadow: 0 -1px 1px #620000; }
/* line 151, ../../../sass/bourbon/addons/_button.scss */
a.close:hover:not(:disabled) { cursor: pointer; background-color: #e10000; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e10000), color-stop(50%, #ac0000), color-stop(50%, #910000), color-stop(100%, #980000)); background-image: -webkit-linear-gradient(top, #e10000 0%, #ac0000 50%, #910000 50%, #980000 100%); background-image: linear-gradient(to bottom,#e10000 0%, #ac0000 50%, #910000 50%, #980000 100%); }
/* line 171, ../../../sass/bourbon/addons/_button.scss */
a.close:active:not(:disabled) { box-shadow: inset 0 0 20px 0 #7f0000, 0 1px 0 white; }
/* line 38, ../../../sass/bourbon/addons/_button.scss */
a.close:disabled { opacity: 0.5; cursor: not-allowed; }

/* line 54, ../../../sass/main.scss */
a.delete { border: 1px solid #790000; border-bottom: 1px solid #700000; border-radius: 5px; box-shadow: inset 0 1px 0 0 #ff1d0c; color: white; display: inline-block; font-size: 14px; font-weight: bold; background-color: #ee0000; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee0000), color-stop(50%, #b60000), color-stop(50%, #980000), color-stop(100%, #9f0000)); background-image: -webkit-linear-gradient(top, #ee0000 0%, #b60000 50%, #980000 50%, #9f0000 100%); background-image: linear-gradient(to bottom,#ee0000 0%, #b60000 50%, #980000 50%, #9f0000 100%); padding: 8px 20px; text-align: center; text-decoration: none; text-shadow: 0 -1px 1px #620000; }
/* line 151, ../../../sass/bourbon/addons/_button.scss */
a.delete:hover:not(:disabled) { cursor: pointer; background-color: #e10000; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e10000), color-stop(50%, #ac0000), color-stop(50%, #910000), color-stop(100%, #980000)); background-image: -webkit-linear-gradient(top, #e10000 0%, #ac0000 50%, #910000 50%, #980000 100%); background-image: linear-gradient(to bottom,#e10000 0%, #ac0000 50%, #910000 50%, #980000 100%); }
/* line 171, ../../../sass/bourbon/addons/_button.scss */
a.delete:active:not(:disabled) { box-shadow: inset 0 0 20px 0 #7f0000, 0 1px 0 white; }
/* line 38, ../../../sass/bourbon/addons/_button.scss */
a.delete:disabled { opacity: 0.5; cursor: not-allowed; }

/* line 69, ../../../sass/main.scss */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] { border: 1px solid #ddd; padding: .25em; font-size: .8em; }

/* line 75, ../../../sass/main.scss */
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus { background: #efe; }

/* line 77, ../../../sass/main.scss */
.event-entry-box, .event-details-box { border: 2px solid #ccc; position: absolute; top: 0px; margin-left: auto; margin-right: auto; background-color: white; padding: .5em; width: 22em; z-index: 9999; }
/* line 88, ../../../sass/main.scss */
.event-entry-box input[type=text], .event-details-box input[type=text] { display: block; width: 100%; margin-bottom: .5em; }
/* line 94, ../../../sass/main.scss */
.event-entry-box a, .event-details-box a { font-size: 1em; padding: 5px; }
/* line 99, ../../../sass/main.scss */
.event-entry-box .arrow, .event-details-box .arrow { height: 0; width: 0; border-color: transparent; border-style: solid; border-width: 10px; border-top-color: white; position: absolute; bottom: -20px; left: 10em; }

/* line 107, ../../../sass/main.scss */
.event-details-box { display: none; width: 14em; }
/* line 112, ../../../sass/main.scss */
.event-details-box h4 { border-bottom: 1px solid #ccc; margin: 0; }
/* line 117, ../../../sass/main.scss */
.event-details-box .arrow { left: 6em; }
/* line 121, ../../../sass/main.scss */
.event-details-box .close { border: 1px solid #b80000; border-radius: 3px; box-shadow: inset 0 1px 0 0 #f85454; color: white; display: inline-block; font-size: 11px; font-weight: bold; background-color: red; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, red), color-stop(100%, #c70000)); background-image: -webkit-linear-gradient(red, #c70000); background-image: linear-gradient(red, #c70000); padding: 7px 18px; text-decoration: none; text-shadow: 0 1px 0 #a30000; background-clip: padding-box; padding: 2px 4px; padding-bottom: 0; font-size: .8em; position: absolute; top: 4px; left: 4px; }
/* line 79, ../../../sass/bourbon/addons/_button.scss */
.event-details-box .close:hover:not(:disabled) { box-shadow: inset 0 1px 0 0 #f72222; cursor: pointer; background-color: #e10505; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e10505), color-stop(100%, #b80000)); background-image: -webkit-linear-gradient(#e10505, #b80000); background-image: linear-gradient(#e10505, #b80000); }
/* line 95, ../../../sass/bourbon/addons/_button.scss */
.event-details-box .close:active:not(:disabled) { border: 1px solid #b80000; box-shadow: inset 0 0 8px 4px #a80000, inset 0 0 8px 4px #a80000, 0 1px 1px 0 #eeeeee; }
/* line 38, ../../../sass/bourbon/addons/_button.scss */
.event-details-box .close:disabled { opacity: 0.5; cursor: not-allowed; }
/* line 131, ../../../sass/main.scss */
.event-details-box p { font-size: .8em; }

/* line 136, ../../../sass/main.scss */
.debug { font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace; border-top: 1px solid #090; padding: 1em; }
